/* src/components/BookingForm/BookingForm.css */
.booking__form-container{
    padding: 20px;
    background-color: var(--color-black);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.booking__form {
    background-color: var(--color-black);
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .headtext__cormorant{
    font-size: 10px;
  }
  .booking__form label {
    font-size:13px;
    color: var(--color-golden);
   
  }
  
  .booking__form input {
    padding: 5px;
    border-radius: 5px;
    color: var(--color-golden);
    background: var(--color-black);
    border: 1px solid var(--color-black);
    margin-left: 1rem;
    max-width: 100px;
  }
  .booking__form input:hover {
    
    border: 1px solid var(--color-golden);
  }
  
  .booking__form button {
    padding: 10px;
    background-color:var(--color-golden);
    color: var(--color-black);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
  }
  